<!DOCTYPE html>
<html lang="zh-Hans" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="~{fragments/layouts.html}">
    <head>
        <title>首页</title>
    </head>
    <body>
        <section layout:fragment="custom-content">
            <div class="w3-row">
                <div class="w3-col l8 s12" th:replace="fragments/bloglist :: bloglist">
                </div>
                <div class="w3-col l4" th:replace="fragments/sidebar :: bloglist">

                </div>
            </div>
            <br/>
        </section>
    </body>
</html>