<!DOCTYPE html>
<html lang="zh-Hans" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="~{fragments/layouts.html}">
    <head>
        <meta charset="UTF-8">
        <title>文章</title>
    </head>
    <body>

        <section layout:fragment="custom-content">
            <div class="w3-row">
                <div class="w3-content" th:name="post">
                    <div class="w3-card-4 w3-margin-16 w3-white">
                        <div class="w3-container w3-padding-8">
                            <h3>
                                <b id="post-title" th:text="${post.title}">标题</b>
                            </h3>
                            <h5>
                                <i class="fa fa-calendar" style="color: #4E5465" id="post-tm"
                                   th:text="' '+${post.createTime}">
                                    2020-02-23
                                </i>
                                ,
                                <a th:href="@{'/category/'+${post.categoryNames}}">
                                    <i class="fa fa-bookmark" aria-hidden="true"
                                       th:text="' '+${post.categoryNames}"></i>
                                </a>
                                <th:block th:each="tag:${post.tagNames}">
                                    <a
                                            style="font-size: 12px"
                                            th:href="@{'/tag/'+${tag}}">
                                        <i class="fa fa-tag" aria-hidden="true" th:text="' '+${tag}"></i>
                                    </a>
                                </th:block>
                            </h5>
                            <hr>
                        </div>
                        <div class="w3-container" th:name="main-content">

                            <div>
                                <th:block th:if="${not #strings.isEmpty(post.summaryContent)}">
                                    <div id="summary" class=" markdown-body" th:utext="${post.summaryContent}">
                                        摘要
                                    </div>
                                    <hr>
                                </th:block>
                                <div id="content" class=" markdown-body" th:utext="${post.content}">
                                    正文
                                </div>
                            </div>
                            <hr/>


                            <div style="margin-bottom: 1em">
                                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                                    <img alt="知识共享许可协议" style="border-width:0"
                                         src="https://i.creativecommons.org/l/by/4.0/88x31.png">
                                </a>
                                <br> 本作品采用
                                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0
                                    国际许可协议</a>进行许可。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </section>


    </body>
</html>