nz-card {
    font-size: 24px;
    text-align: center;
}

.my-container {
    padding: 24px;
    background: #fff;
    margin-bottom: 24px;
}

.e-chart {
    min-height: 400px;
}

.echart-div{
    min-height: 450px;
}