<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <!-- Blog entries -->
        <div class="w3-col l8 s12" th:fragment="bloglist">
            <!-- Blog entry -->
            <th:block th:each="post,iterStat:${posts}">
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <h3><b th:text="${post.title}">TITLE HEADING</b></h3>
                        <h5>
                            <a th:href="@{'/category/'+${post.categoryNames}}">
                                <i class="fa fa-bookmark" aria-hidden="true" th:text="' '+${post.categoryNames}">Tiny</i>
                            </a>,
                            <span class="w3-opacity" th:text="${post.createTime}">April 7, 2014</span>
                        </h5>
                    </div>

                    <div class="w3-container">
                        <p th:utext="${post.summaryContent}">
                            Mauris neque quam, fermentum ut nisl vitae, convallis maximus
                            nisl. Sed mattis nunc id lorem euismod placerat. Vivamus
                            porttitor magna enim, ac accumsan tortor cursus at. Phasellus
                            sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                            tellus ut rutrum. Sed vitae justo condimentum, porta lectus
                            vitae, ultricies congue gravida diam non fringilla.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <a
                                            class="w3-button w3-padding-large w3-white w3-border"
                                            th:href="@{'/post/'+${post.titleEn}}"
                                    >
                                        <b>READ MORE »</b>
                                    </a>
                                </p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p>
                    <span class="w3-padding-large w3-right">
                        <b>Tags:</b>
                      <a th:each="tag:${post.tagNames}" th:href="@{'/tag/'+${tag}}" th:text="${tag}">小有技术</a>
                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr th:if="${not iterStat.last}"/>
            </th:block>
            <!-- END BLOG ENTRIES -->
        </div>
    </body>
</html>